{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    {#
    {% set percent = [89, 65, 73, 91, 77, 83, 52] %}
    {% set campus = ["Tours", "Orleans", "Nante", "Paris", "Lyon", "Guadeloupe", "Bordeaux"] %}

    {% set annee = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019] %}
    {% set etudiant = [10000, 20000, 25000, 32000, 41000, 56000, 71000, 86000, 93000, 96000, 101000] %}
    #}
    <div class="topnav" id="topnav">
        <a class="active" href="#topnav">TPRC</a>
        <a href="#Graph1">Graph Du Campus</a>
        <a href="#Graph2">Graph Des Etudiants</a>
    </div>

    <div class="main" style="position: relative;text-align: left;max-width: 30em;margin: auto;">
        <h1 style="text-align: center;font-family: SansationBold, 'trebuchet ms', helvetica, arial, sans-serif;">Dashboard</h1>
        <div id="Graph1" style="width: 30em; height: 30em;">
            <canvas id="myChart" width="400" height="400"></canvas>
            <canvas id="myChart2" width="400" height="400"></canvas>
            <canvas id="myChart3" width="400" height="400"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [
                            {% for c in campus %}
                            '{{ c }}',
                            {% endfor %}
                            ],
                        datasets: [{
                            label: 'Taux de reussite par campus en %',
                            data: [
                                {% for c2 in campus2 %}
                                '{{ c2 }}',
                                {% endfor %}
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
        <div id="Graph2" style="width: 30em; height: 30em;">
            <script>
                var ctx2 = document.getElementById('myChart2').getContext('2d');
                var myLineChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: [
                        {% for e2 in etudiant2 %}
                        '{{ e2 }}',
                        {% endfor %}
                    ],
                    datasets: [{
                        label: "Nombre d'etudiant a Supinfo par an",
                        data: [
                            {% for e in etudiant %}
                            '{{ e }}',
                            {% endfor %}
                        ],
                    }],
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }
            });
            </script>
        </div>
        <div>
            {% for f in flat %}
                {{ f.getTitle }} :
                {{ f.getName }} -
            {{ f.getPercentFlat }}%, <br>
            {% endfor %}
        </div>

    </div>
{% endblock %}
